body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*--- Стили для шапки сайта (главная страница) ---*/

.main-header {
  background-color: #f4f7f9;
  margin-bottom: 60px;
  padding-bottom: 1px;
}

.user-nav-wrapper {
  width: 100%;
  margin-bottom: 45px;

  background-color: #293449;
}

.user-nav-wrapper .container {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;

  width: 940px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.container a {
  color: #ffffff;
}

.main-header-logo {
  position: absolute;

  width: 110px;
  height: 18px;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 55px;
  padding-right: 55px;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-header-logo:active {
  background-color: #ba2732;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.search {
  box-sizing: border-box;
  
  position: relative;

  width: 270px;
  margin-left: 220px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 0;
}

.search::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.search input {
  background-color: #293449;
  border: none;
}

.search:hover,
.search input:hover {
  background-color: #212a3a;
}

.search:focus,
.search:active,
.search input:focus {
  background-color: #ffffff;
}

.search:hover::before {
  opacity: 1;
}

.search:focus::before,
.search:active::before{
  background-image: url("../img/icon-search-active.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bookmark {
  display: block;
  box-sizing: border-box;

  position: relative;

  width: 150px;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 45px;
  padding-right: 10px;
}

.bookmark:hover,
.bookmark:focus {
  background-color: #212a3a;
}

.bookmark:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.bookmark::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.bookmark:hover::before,
.bookmark:focus::before {
  opacity: 1;
}
.bookmark:active::before {
  opacity: 0.5;
}

.cart {
  display: block;
  box-sizing: border-box;

  position: relative;

  width: 150px;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 50px;
  padding-right: 10px;
}

.cart::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.cart:hover,
.cart:focus {
  background-color: #212a3a;
}

.cart:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.cart:hover::before,
.cart:focus::before {
  opacity: 1;
}

.cart:active::before {
  opacity: 0.5;
}

.checkout {
  display: block;
  box-sizing: border-box;

  width: 150px;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #63a63e;
}

.checkout:hover,
.checkout:focus {
  background-color: #5fbb2d;
}

.checkout:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.block-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 940px;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.contact-info {
  display: flex;
  justify-content: space-between;

  width: 550px;
}

.info-text {
  width: 195px;
  margin: 0;
  padding: 0;
  margin-left: 53px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.contact-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 270px;
}

.contact-column .tel-link {
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 75px;
  padding-right: 30px;
  margin: 0;
  margin-bottom: 10px;

  box-sizing: border-box;

  position: relative;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.tel-link::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 15px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contact-column .address {
  margin: 0;
  padding: 0;
  text-align: center;

  font-size: 14px;  
  color: #32425c;
}

.login-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  width: 350px;
  margin: 0;
  padding: 0;  
  list-style: none;
}

.login-nav .link {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.login-nav .link:hover,
.login-nav .link:focus {
  color: #ee3643;
  background-color: #ffffff;
}

.login-nav .link:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.login-nav .link-login {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 25px;
  margin-right: 10px;

  position: relative;
}

.link-login::before {
  content: "";

  position: absolute;
  top: 19px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.link-login:hover::before,
.link-login:focus::before {
  opacity: 1;
}

.link-login:active::before {
  opacity: 0.3;
}

.login-nav .link-reg {
  padding: 15px 25px;
}

.main-nav {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;

  width: 940px;
  margin-top: 0;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.site-nav a {
  display: block;
  padding: 22px 30px;

  color: #ffffff;
}

.site-nav a:hover,
.site-nav a:focus {
  background-color: #293449;
}

.site-nav a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/*--- Стили для основного содержания сайта (главная страница) ---*/

.index-container {
  width: 940px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.button-red {
  display: inline-block;
  box-sizing: border-box;

  min-width: 195px;
  padding: 10px 40px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;  
  text-align: center;
  vertical-align: middle;

  color: #ffffff;
  background-color: #ee3643;

  border: none;
  border-radius: 3px;
}

.button-red:hover,
.button-red:focus {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}

.item {
  margin-bottom: 20px;
}

.item-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  margin: 0;
  padding: 0;

  list-style: none;
}

.item-group li {
  width: 300px;
  box-sizing: border-box;

  position: relative;

  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 23px;
  padding-right: 110px;

  text-align: left;
}

.item-group .materials {
  background-color: #ffbf47;
}

.item-group .tools {
  background-color: #3bbce3;
}

.item-group .machines {
  background-color: #dc91d8;
}

.materials .flag {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;

  z-index: 20;
}

.materials .flag-new,
.popular-item .flag-new,
.catalog-item .flag-new {
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-group a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.button-group {
  display: inline-block;

  box-sizing: border-box;

  min-width: 135px;
  margin-left: 2px;
  padding: 10px 20px;

  text-align: center;

  border-radius: 3px;

  background-color: rgba(0, 0, 0, 0.1);
}

.button-group:hover,
.button-group:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-group:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials a::after {
  content: "";

  position: absolute;
  top: 31px;
  left: 213px;

  width: 44px;
  height: 65px;

  background-image: url("../img/icon-materials.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tools a::after {
  content: "";

  position: absolute;
  top: 33px;
  left: 197px;

  width: 75px;
  height: 61px;

  background-image: url("../img/icon-tools.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.machines a::after {
  content: "";

  position: absolute;
  top: 31px;
  left: 191px;

  width: 78px;
  height: 62px;

  background-image: url("../img/icon-machines.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-group h3 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.section-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}

.slider {
  width: 620px;
  height: 266px;
  box-sizing: border-box;

  position: relative;

  padding-top: 25px;
  padding-bottom: 22px;
  padding-left: 24px;
  padding-right: 24px;

  text-align: left;
  color: #ffffff;

  background-color: grey;
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  margin: 0;
  margin-bottom: 5px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

}

.slider-item p {
  margin: 0;
  margin-bottom: 122px;
  padding: 0;
  font-size: 18px;
}

.slider1-controls {
  font-size: 0;
}

.slider1-controls label {
  display: inline-block;
  width: 22px;
  height: 40px;

  cursor: pointer;
}

#product-1:checked ~ .slider {
  background-color: gray;
  background-image: url("../img/slider-1.jpg");
}

#product-2:checked ~ .slider {
  background-color: gray;
  background-image: url("../img/slider-2.jpg");
}

#product-1:checked ~ .slider #slide1,
#product-2:checked ~ .slider #slide2 {
  display: block;
}

.slider1-controls .slide-first {
  position: absolute;
  top: 115px;
  left: 25px;
  z-index: 20;

  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider1-controls .slide-second {
  position: absolute;
  top: 115px;
  left: 578px;
  z-index: 20;

  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.offer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offer-list li {
  width: 300px;
  box-sizing: border-box;

  position: relative;

  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 23px;
  padding-right: 110px;
}

.offer-list .sales {
  background-color: #8ed78f;
  
  margin-bottom: 20px;
}

.offer-list .shipment {
  background-color: #ffc047;
}

.sales a::after {
  content: "";

  position: absolute;
  top: 26px;
  left: 196px;

  width: 59px;
  height: 72px;

  background-image: url("../img/icon-sales.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.shipment a::after {
  content: "";

  position: absolute;
  top: 32px;
  left: 191px;

  width: 78px;
  height: 63px;

  background-image: url("../img/icon-shipment.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.offer-list h3 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.offer-list a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.title-space {
  background-color: #f9f5f0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 30px;
  padding-right: 25px;
  
}

.title-space h2 {
  margin: 0;
  padding: 0;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.button-popular {
  min-width: 253px;
  padding-left: 54px;
  padding-right: 54px;
}

.popular-items-list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular-item,
.catalog-item {
  position: relative;

  width: 218px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  text-align: center;

  border: 1px solid #e5e5e5;
}

.popular-item .flag,
.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;

  z-index: 20;
}

.popular-item .actions,
.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  padding: 39px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.actions .buy,
.actions .saved {
  display: block;
  box-sizing: border-box;

  width: 135px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  
  border-radius: 3px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.actions .buy {
  position: relative;

  color: #ffffff;
  background-color: #63a63e;
  padding-left: 50px;
  padding-right: 44px;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.actions .buy::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 12px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.actions .saved {
  padding-top: 7px;
  padding-bottom: 7px;
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.popular-item:hover,
.popular-item:focus,
.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-item .actions,
.catalog-item .actions {
  display: none;
}

.popular-item:hover .actions,
.popular-item:focus .actions,
.catalog-item:hover .actions,
.catalog-item:focus .actions {
  display: block;
}

.actions .buy:hover,
.actions .buy:focus {
  background-color: #5fbb2d;
}

.actions .buy:active {
  background-color: #518534;
}

.actions .buy:hover::before,
.actions .buy:active::before {
  opacity: 1;
}

.actions .saved:hover,
.actions .saved:focus {
  border: 3px solid #32425c;
}

.actions .saved:active {
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid rgba(50, 66, 92, 0.3);
}

.popular-item .image,
.catalog-item .image {
  width: 218px;
  height: 170px;
}

.popular-item h3,
.catalog-item h3 {
  margin: 0;
  padding: 0;
}

.popular-item .title-item,
.catalog-item .title-item {
  display: block;

  padding: 0 30px;
  margin-top: 10px;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.popular-item .discount,
.catalog-item .discount {
  display: block;
  min-height: 18px;
  margin-bottom: 10px;

  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.popular-item .button-item,
.catalog-item .button-item {
  position: relative;
  display: block;

  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;
}

.popular-item .button-item::after,
.catalog-item .button-item::after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.brand-list {
  margin: 0;
  margin-bottom: 65px;
  padding: 0;
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.brand-list .brand-item {
  width: 220px;
  margin-bottom: 20px;
  padding: 10px 0;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.brand-item:hover,
.brand-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-item:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brand-item:active img {
  opacity: 0.3;
}

.brand-item .brand-img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.services {
  background-color: #f4f7f9;
  margin: 0;
  margin-bottom: 82px;
  padding-top: 68px;
  padding-bottom: 0;
  padding-left: 130px;
  padding-right: 120px;
}

.services h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.services p {
  width: 400px;
  margin: 0;
  margin-bottom: 22px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.services-slider {
  position: relative;

  padding: 0;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 320px;

  background-color: #f4f7f9;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 470px 70px;
}

.services-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-title {
  width: 275px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
}

.services-list p {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
}

.delivery p {
  width: 275px;
}

.guarantee p {
  width: 380px;
}

.credit p {
  width: 280px;
  margin-bottom: 30px;
}

.slider2-controls {
  position: absolute;

  top: 50px;
  left: 0;
  z-index: 20;
}

.slider2-controls label {
  display: block;
  width: 218px;

  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 22px;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
  box-shadow:
    0 1px 0 0 #293449,
    inset 0 1px 0 0 #405069;
  cursor: pointer;
}

.slider2-controls label:hover,
.slider2-controls label:focus {
  background-color: #293449;
}

#service1:checked ~ .services-slider #slide3,
#service2:checked ~ .services-slider #slide4,
#service3:checked ~ .services-slider #slide5 {
  display: block;
}

#service1:checked ~ .services-slider label[for="service1"],
#service2:checked ~ .services-slider label[for="service2"],
#service3:checked ~ .services-slider label[for="service3"] {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: none;
}

#service1:checked ~ .services-slider {
  background-color: #f4f7f9;
  background-image: url("../img/delivery.png");
}

#service2:checked ~ .services-slider {
  background-color: #f4f7f9;
  background-image: url("../img/guarantee.png");
  background-position: 560px 55px;
}

#service3:checked ~ .services-slider {
  background-color: #f4f7f9;
  background-image: url("../img/credit.png");
  background-position: 485px 55px;
}

.info-columns {
  margin: 0;
  padding: 0;
  padding-left: 130px;
  padding-right: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.company-info {
  width: 520px;
  margin-right: 120px;
}

.company-info h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.company-info p {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
}

.company-info p:nth-of-type(2) {
  width: 390px;
}

.transport-list {
  position: relative;

  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  list-style: none;
}

.transport-list li {
  margin-bottom: 20px;
  margin-left: 35px;
  font-size: 18px;
  line-height: 20px;
}

.transport-list .transport1::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 0;

  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.transport-list .transport2::before {
  content: "";

  position: absolute;
  top: 50px;
  left: 0;

  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.transport-list .transport3::before {
  content: "";

  position: absolute;
  top: 90px;
  left: 0;

  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.company-info .button-company {
  min-width: 220px;
}

.contacts {
  width: 300px;
}

.contacts h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.contacts p {
  width: 180px;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
}

.contacts .map-link {
  display: block;
  margin-bottom: 34px;
}

.contacts .button-write {
  width: 100%;
}

/*--- Стили для шапки сайта (внутренняя страница) ---*/

.main-header.catalog {
  margin-bottom: 20px;
}

.block-wrapper .user-account {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  list-style: none;
  background-color: #f4f7f9;
}

.user-account .user-box {
  width: 243px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 47px;
  padding-right: 10px;

  background-color: #ffffff;
}

.user-box a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-account .user-name:hover,
.user-account .user-name:focus {
  color: #000000;
  background-color: #ffffff;
}

.user-account .user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-box .user-name::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 13px;

  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.user-box .user-name:hover::before,
.user-box .user-name:focus::before {
  opacity: 1;
}

.user-box .user-name:active::before {
  opacity: 0.3;
}

.user-box .logout-link {
  position: absolute;
  top: 14px;
  right: 10px;

  width: 20px;
  height: 17px;

  text-indent: -1000px;
  overflow: hidden;

  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.user-box .logout-link:hover,
.user-box .logout-link:focus {
  opacity: 1;
}

.user-box .logout-link:active {
  opacity: 0.3;
}

.user-account .account-box {
  padding-top: 7px;
  padding-left: 17px;
}

.account-box .link {
  padding-right: 30px;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.account-box .link:hover,
.account-box .link:focus {
  color: #ee3643;
}

.account-box .link:active {
  color: #32425c;
  opacity: 0.3;
}

.user-account .account-box::after {
  content: "";

  position: absolute;
  top: 60px;
  left: 107px;

  width: 5px;
  height: 5px;
  border-radius: 50%;

  background-color: #32425c;
}

/*--- Стили для основного содержания сайта (внутренняя страница) ---*/

.breadcrumbs {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.breadcrumbs .link {
  position: absolute;
  top: 3px;
  left: 0;

  width: 14px;
  height: 12px;

  text-indent: -1000px;
  overflow: hidden;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:nth-child(2) {
  padding-left: 20px;
}

.breadcrumbs .link-next {
  position: relative;
}

.breadcrumbs .link-next:not(:nth-child(2)) {
  padding-left: 40px;
}

.breadcrumbs .link-next::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 18px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.page-title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;

  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.filters h2 {
  margin: 0;
  margin-bottom: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 17px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filters-form fieldset {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  border: none;
}

.filters-form legend {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-range legend {
  margin-bottom: 13px;
}

.filter-range .range-controls {
  position: relative;

  margin-bottom: 9px;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.range-controls .scale {
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 152px;
  height: 2px;
  background-color: #63a63e;
}

.range-controls .range-toggle {
  position: absolute;
  top: 29px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  cursor: pointer;
}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  left: 160px;
}

.filter-range .price-controls {
  position: relative;

  display: flex;
  justify-content: space-between;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.price-controls::before {
  content: "";

  position: absolute;
  top: 19px;
  left: 105px;

  width: 10px;
  height: 1px;

  background-color: #444444;
}

.price-controls::after {
  content: "";

  position: absolute;
  top: 63px;
  left: 0;

  width: 220px;
  height: 1px;

  background-color: #e5e5e5;
}

.price-controls .min-price {
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 45px;
  width: 50px;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.price-controls .max-price {
  padding-left: 25px;
  width: 70px;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.filter-producer {
  position: relative;
}

.filter-producer::after {
  content: "";

  position: absolute;
  top: 240px;

  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
}

.filter-producer ul,
.filter-power ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-producer li,
.filter-power li {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-producer legend,
.filter-power legend {
  margin: 0;
  margin-bottom: 16px;
}

.filter-option {
  margin-bottom: 17px;
  padding-left: 35px;
}

.filter-producer .filter-option:last-child {
  margin-bottom: 0;
}

.filter-option label {
  position: relative;

  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: "";

  position: absolute;
  top: -3px;
  left: -35px;

  width: 19px;
  height: 19px;
  border: 2px solid #b5b5b5;
  border-radius: 2px;
}

.filter-input-checkbox:not(:checked) + label:hover::before,
.filter-input-checkbox:not(:checked) + label:focus::before {
  border: 2px solid #c5c5c5;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.3;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: -3px;
  left: -35px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.filter-input-checkbox:checked + label:hover::after,
.filter-input-checkbox:checked + label:focus::after {
  opacity: 0.4;
}

.filter-input-checkbox:checked:disabled + label::after {
  opacity: 0.1;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  top: -3px;
  left: -35px;

  width: 17px;
  height: 17px;

  background-color: #ffffff;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: -27px;

  width: 9px;
  height: 9px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
  border: 4px solid #b5b5b5;
}

.filter-input-radio:checked + label:hover::after,
.filter-input-radio:checked + label:focus::after {
  background-color: #b5b5b5;
}

.filter-input-radio:disabled + label::before {
  opacity: 0.3;
}

.filter-input-radio:checked:disabled + label::after {
  opacity: 0.3;
}

.filter-input:disabled + label {
  color:rgba(0, 0, 0, 0.4);
}

.filter-button {
  display: block;
  margin: 0;
  padding: 9px 15px;

  width: 140px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  border: 1px solid #bdc6ca;
}

.filter-button:active {
  border: 1px solid #ee3643;
}

.catalog-wrapper {
  width: 700px;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 662px;

  margin: 0;
  margin-bottom: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 18px;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.sort-list h2 {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.sort-kind {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.sort-kind li:first-child {
  margin-right: 71px;
}

.sort-kind li:nth-child(2) {
  margin-right: 65px;
}

.sort-kind a {
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
}

.sort-kind a:hover,
.sort-kind a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-kind a:active,
.sort-kind .price-current {
  color: #ee3643;
  border-bottom: none;
}

.sort-updown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 40px;

  margin: 0;
  margin-left: 45px;
  padding: 0;
  list-style: none;
}

.sort-up,
.sort-down {
  width: 11px;
  height: 10px;
  opacity: 0.3;
}

.sort-up.current,
.sort-down.current {
  opacity: 1;
}

.current polygon,
.current polyline {
  fill: #ee3643;
}

.sort-up:hover,
.sort-up:focus,
.sort-down:hover,
.sort-down:focus {
  opacity: 1;
}

.sort-up:active polygon,
.sort-down:active polyline {
  fill: #ee3643;
}

.catalog-list {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-list .catalog-item {
  margin-bottom: 20px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 38px;
  box-sizing: border-box;

  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item:last-child a {
  width: 140px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-current a {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.pagination-current a:hover,
.pagination-current a:focus,
.pagination-current a:active {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.item-description {
  background-color: #f4f7f9;
  margin: 0;
  margin-top: 60px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 65px;
  padding-bottom: 70px;
}

.description-container {
  width: 940px;
  margin: 0 auto;
}

.item-description h2 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.item-description p {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
}

/*--- Стили для подвала сайта ---*/

.main-footer {
  background-color: #32425c;

  margin-top: 86px;
  padding: 0;
}

.main-footer.catalog {
  margin-top: 0;
}

.footer-first {
  width: 940px;
  display: flex;
  justify-content: space-between;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.footer-contact {
  width: 360px;
}

.footer-contact .footer-logo {
  display: block;
  width: 138px;
  height: 23px;

  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 41px;
  padding-right: 41px;

  margin-bottom: 20px;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-contact .footer-logo:hover,
.footer-contact .footer-logo:focus {
  background-color: #ca2c37;
}

.footer-contact .footer-logo:active {
  background-color: #ba2732;
}

.footer-contact p,
.footer-contact .footer-tel {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #f3f7f9;
}

.footer-nav-wrapper {
  width: 560px;
}

.footer-site-nav {
  list-style: none;

  width: 560px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-site-nav li {
  margin-top: 40px;
  margin-right: 60px;
}

.footer-site-nav li:last-child {
  margin-right: 0;
}

.footer-site-nav a {
  font-size: 18px;
  color: #f3f7f9;
}

.footer-item-group {
  list-style: none;
  
  width: 560px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-item-group li {
  margin-top: 40px;
  margin-right: 60px;
}

.footer-item-group li:last-child {
  margin-right: 0;
}

.footer-item-group a {
  font-size: 18px;
  color: #ffd180;
}

.footer-site-nav a:hover,
.footer-site-nav a:focus,
.footer-item-group a:hover,
.footer-item-group a:focus {
  text-decoration: underline;
}

.footer-site-nav a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-item-group a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.main-footer .footer-second {
  background-color: #293449;
}

.footer-second .container {
  position: relative;

  width: 940px;
  display: flex;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright {
  width: 227px;
  margin-right: 162px;
}

.copyright p {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-social {
  list-style: none;
  text-align: center;
  width: 134px;
  margin: 0;
  padding: 0;
}

.social-vk .social-button {
  position: absolute;
  top: 34px;
  left: 390px;

  width: 26px;
  height: 15px;
  padding: 13px 7px;
  border-radius: 50%;

  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-fb .social-button {
  position: absolute;
  top: 34px;
  left: 436px;

  width: 12px;
  height: 22px;
  padding: 10px 15px;
  border-radius: 50%;

  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-ig .social-button {
  position: absolute;
  top: 34px;
  left: 482px;

  width: 21px;
  height: 21px;
  padding: 10px;
  border-radius: 50%;

  background-image: url("../img/ig-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button {
  text-indent: -1000px;
  overflow: hidden;
  color: #ffffff;
  background-color: #212a3a;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.feedback {
  margin: 0;
  margin-left: auto;
  width: 135px;
}

.create {
  margin: 0;
  margin-left: 53px;
  margin-right: 15px;
  width: 96px;
}

.footer-second .feedback,
.footer-second .create {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback a,
.create a {
  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus,
.create a:hover,
.create a:focus {
  text-decoration: underline;
}

.feedback a:active,
.create a:active {
  color: #ee3643;
}

/*--- Стили для модальных окон ---*/

.modal-map {
  background-color: #ffffff;
}

.modal-send {
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.send-form label {
  font-size: 18px;
  line-height: 18px;
}

.send-form input[type="text"],
.send-form input[type="email"],
.send-form textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 18px;
  color: #a9a9a9;

  border: 2px solid #dee3e4;
}

.button-row {
  background-color: #f4f4f4;
}

.item-added {
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.item-added h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.modal-continue {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
}